name: Regex file processor

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python src/process.py

      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add hosts
          git commit -m "Auto update hosts" || echo "No changes"
          git push
